button {
    width: 100px;
    height: 50px;
    border: 0ch;
}

#radButton{
    width: 200px;
}

input {
    width: 400px;
    height: 50px;
    text-align: right;
    border: 0ch;
}


header {
    text-align: left;
}

main {
    text-align: left;
}

footer {
    text-align: left;
}
#calculator {
    text-align: center;
}
