
body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 140), rgb(6, 4, 39)); 
    height: 100vh;
    background-repeat: no-repeat;
}

#display input{
    display: flex;
    background-color: transparent;
}

#display {
    padding: 0.6em;
}

#input {
    font-size: 1em;
}

#screen{
    font-size: 3rem;
}



button {
    background-image:  linear-gradient(to bottom right,rgb(244, 242, 245),rgb(244, 244, 244));
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80px;
    height: 50px;
    border: 0ch;
    border-radius: 8px;
    margin: 1px; 
}

button:hover{
    background-image:linear-gradient(to bottom right,rgb(238, 238, 238),rgb(237, 233, 243));
}

input {
    width: 300px;
    height: 50px;
    text-align: right;
    padding-right: 10px;
    border: 0ch;
}

#calculator {
    width: fit-content;
    background-image: linear-gradient(to bottom right,rgba(250, 250, 250, 0.879),#ddddddfa,rgba(249, 249, 249, 0.827)) ;
    padding: 20px;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 1.2em;
    text-align: center;
}

.equalStyle {
    background-image:linear-gradient(to bottom right,rgb(0, 0, 140),rgb(3, 3, 116));
    color: aliceblue;
}

.equalStyle:hover {
    background-image:linear-gradient(to bottom right,rgb(20, 20, 145),rgb(16, 16, 160));
}